{% extends "base.html" %}

{% block title %}{{ detailed_user }} | TRIBU{% endblock title %}

{% block main %}
<div class="container" id="profile-container">
  {% include "./detail-components/profile-card.html" %}
  <h2 class="my-3">Echos</h2>
  {% for echo in echos %}
    {% include "./detail-components/echo-card.html" %}
  {% empty %}
    {% if detailed_user == user %}
      <p style="text-align: center;">No created echos. <a class="text-decoration-none" href="{% url "echos:echo-add" %}">Create one!</a></p>
    {% else %}
      <p style="text-align: center;">No created echos by this user...</p>
    {% endif %}
  {% endfor %}
</div>
{% endblock main %}