{% extends "base.html" %}

{% block title %}Adding wave | TRIBU{% endblock title %}

{% block main %}
<div class="container m-3 ">
  <form method="POST" novalidate>
    {% csrf_token %}
    <h1>Adding wave</h1>

    <div class="form-floating mt-3">
      <textarea class="form-control" id="floatingInput" name="{{ form.content.html_name }}" placeholder="Content" max_length="{{ form.content.field.max_length }}" style="height: 250px;"></textarea>
      {{ form.content.errors }}
      <label for="floatingInput">Content</label>
    </div>

    <div class="mt-3">
      <input type="submit" value="Add wave" class="btn btn-primary">
      <a href="{% url "echos:echo-list" %}" class="btn btn-outline-secondary">Cancel</a>
    </div>

  </form>
</div>
{% endblock main %}