{% extends "base.html" %}

{% block title %}{{ echo }} | TRIBU{% endblock title %}

{% block main %}
    <div class="d-flex justify-content-center">
        <div id="echo-container" class="w-75 mt-3 container">
            {% include "./detail-components/header.html" %}
            <hr>
            <h5 class="text-secondary">Created at: {{ echo.created_at|date:'d M, Y'}}</h5>
            <p>{{ echo.content }}</p>
            <hr>
            
            <div id="waves-container">
                <div class="d-flex justify-content-between my-3">
                    <h2>Waves</h2>
                    <a class="btn btn-outline-primary fs-5" href="{% url 'echos:echo-wave-add' echo.pk %}">Add a wave</a> 
                </div>
                {% for wave in waves %}
                    {% include "./detail-components/wave-card.html" %}
                {% empty %}
                    <p style="text-align: center;">No waves in this echo!</p>
                {% endfor %}
                {% if waves_quantity > 5 %}
                    <a class="btn btn-primary my-3 w-100" href="{% url "echos:echo-waves" echo.pk %}">All waves</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main %}

